.nav-container {
    font-size: 45px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px gray;
    border-style: solid;
}

.main-container {
    display: flex;
}

.info-input-container {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 65px;
    margin-right: -50px;
}

.info-input-welcome {
    font-size: 22px;
    margin-bottom: 12px;
}

.input {
    width: 365px;
    height: 35px;
    margin-bottom: 5px;
    font-size: 12px;
}

#bio-box {
    height: 245px;
    position: relative;
}

.save-changes {
    width: 365px;
    height: 40px;
    font-size: 15px;
    color: gray;
    background: #85FDF3;
    border: none;
}

.images-container {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 400px;
    height: 400px;
    background: url('https://hd.unsplash.com/photo-1472376688994-cd8105c6fe5d') no-repeat center;
    background-size: cover;
    -webkit-clip-path: polygon(62% 0, 0 71%, 100% 91%);
}

.image2 {
    position: absolute;
    bottom: -22px;
    width: 350px;
    height: 350px;
    background: #85FDF3;
    -webkit-clip-path: polygon(100% 0, 0 21%, 76% 100%);
}

.footer {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 37px;
    color: gray;
    border-top: 1px gray;
    border-style: solid;
}
